@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
a:focus {
  outline: none;
}
.page-search {
  font-family: "Open Sans";
  font-weight: 300;
  background: radial-gradient(circle at right, #324754 50%, #17222b);
  color: #fff;
}
.l-main {
  max-width: 100%;
}
/**
 * Language block.
 */
.l-header .row {
  max-width: 97%;
}
section .block-locale-language {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}
.language-switcher-locale-url {
  display: flex;
  margin: 0;
}
.language-switcher-locale-url li {
  list-style: none;
  margin-left: 10px;
}
.language-switcher-locale-url li:hover {
  transform: scale(1.1);
}
.language-switcher-locale-url img {
  height: 12px;
  padding: 1px;
}
.language-switcher-locale-url a.active img {
  outline: 1px solid rgba(255, 255, 0, .8);
}
/**
 * Homepage view.
 */
.search-block-left {
  padding-right: 30px;
  padding-bottom: 20px;
}
.view-filters {
  margin-bottom: 30px;
}
.views-exposed-widgets {
  margin-top: 30px;
}
.views-exposed-widgets > div {
  width: 100%;
  display: inline-block;
}
.views-exposed-form .views-exposed-widget {
  padding: 0;
}
.views-exposed-form .views-exposed-widget input {
  margin-bottom: 0;
}
.views-exposed-form .views-widget {
  margin-bottom: 5px;
}
.views-exposed-widgets label {
  color: #fff;
}
.chosen-container {
  width: 100% !important;
  color: rgba(0, 0, 0, 0.75);
}
.chosen-container-single .chosen-single {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: #666;
}
.chosen-choices {
  border: 1px solid #ccc !important;
  background-image: none !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: inherit;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
}
.search-field {
  height: 35px;
}
.views-widget-filter-field_year_value .form-type-textfield {
  padding: 0;
}
.form-item-field-year-range-max label {
  display: none;
}
/* View content. */
.view-cs-views-search .view-content a {
  color: lightskyblue;
}
.view-cs-views-search .view-content a:hover {
  color: #fff;
}
.view-cs-views-search .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  height: calc(100vh - 45px);
}
.view-cs-views-search .view-content #films-outer-wrapper {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.view-cs-views-search .view-content .nano-content {
  border-left: 1px solid rgba(255, 255, 255, .1);
}
.view-cs-views-search .view-content #films-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1em;
  padding: 0 30px;
}
.view-cs-views-search .view-content .nano-content .row {
  margin: 0;
}
.view-cs-views-search .view-content .nano-content .views-field-rendered-entity {
  margin-bottom: 0;
}
.node-teaser {
  position: relative;
  max-width: 270px;
}
.field-name-field-poster-image {
  height: 370px;
}
.field-name-field-poster-image img {
  width: calc(100% - 25px);
  max-height: 360px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}
.node-teaser .field-name-field-imdb {
  position: absolute;
  top: 40px;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: radial-gradient(at top left, #f78e01 50%, #d07906);
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-weight: 700;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.3);
}
.film-title-link {
  font-family: 'Open Sans';
  font-weight: 400;
  word-wrap: break-word;
  max-width: 220px;
}
.field-type-taxonomy-term-reference ul {
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul li {
  display: inline-block;
  margin-right: 10px;
  color: #aaa;
  font-family: 'Open Sans Condensed';
  font-size: large;
}
.movie-teaser-links {
  max-width: 230px;
  display: flex;
  justify-content: space-between;
}
/* Pager. */
.view-cs-views-search .view-content .pager li:not(.current) a:hover {
  color: black;
}
/* Filters toggle button. */
.action-buttons {
  display: flex;
  justify-content: space-between;
}
.filters-collapsed-button, .reset-button {
  display: flex;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle at top right, #26a283 10%, #187961);
  box-shadow: inset 1px -1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
  cursor: pointer;
}
.reset-button {
  /*background: radial-gradient(circle at top right, #757774 60%, #17222b);*/
  background: radial-gradient(circle at top right, #c5ccc4 40%, #97929b);
}
.filters-collapsed-button input {
  width: 25%;
}
.reset-button input {
  width: 100%;
  height: 100%;
  padding: 25%;
}
.filters-collapsed-button input:focus, .reset-button input:focus {
  outline: none;
}
/* Random button. */
.get-random-button {
  width: 80px;
  height: 80px;
  background-color: plum;
  box-shadow: inset 1px -1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  transition: transform linear .3s;
  cursor: pointer;
  position: relative;
  right: 0;
}
.get-random-button input {
  width: 100%;
  height: 100%;
  padding: 10%;
}
.filters-collapsed-button:hover, .get-random-button:hover, .reset-button:hover {
  transform: scale(1.05, 1.05);
  transition-duration: .3s;
}
/* Pagination. */
.pagination-centered {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
/**
 * Film page.
 */
#page-title {
  text-align: center;
  margin-bottom: 50px;
}
.node-film.view-mode-full .field {
  line-height: 30px;
  font-size: large;
}
/* Popup */
div.ctools-modal-content .modal-content {
  max-height: 99vh;
  padding: 1em;
}
div#modal-content {
  width: 100% !important;
}
#modalContent .popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ddd;
  font-size: 50px;
  cursor: pointer;
}
.popup-film-title {
  width: 85%;
}
/**
* @media
*/
@media screen and (max-width: 972px) {
  .view-cs-views-search .view-content .nano-content .views-field-rendered-entity {
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  #modalContent {
    top: -1px !important;
    left: -1px !important;
    width: 100%;
  }
  div.ctools-modal-content {
    width: calc(100% - 2px) !important;
  }
}
@media screen and (min-width: 642px) {
  .filters-collapsed-button {
    display: none;
  }
}
@media (max-width: 641px) {
  .view-cs-views-search .view-content .nano-content {
    border: none;
  }
  .block-views-exp-cs-views-search-page {
    display: none;
  }
  .view-cs-views-search .view-content {
    height: calc(100vh - 150px);
  }
}
@media screen and (max-width: 430px) {
  .view-cs-views-search .view-content {
    padding: 0;
  }
  .view-cs-views-search .view-content #films-inner-wrapper {
    padding: 0;
  }
}
