@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
a:focus {
  outline: none;
}
.page-search {
  font-family: "Open Sans";
  font-weight: 300;
  background: radial-gradient(circle at right, #324754 50%, #17222b);
  color: #fff;
}
.l-main {
  max-width: 100%;
}
/**
 * Homepage view.
 */
.search-block-left {
  padding-right: 30px;
}
.view-cs-views-search {
  margin-top: 30px;
}
.view-filters {
  margin-bottom: 30px;
}
.views-exposed-widgets {
  margin-top: 30px;
}
.views-exposed-widgets > div {
  width: 100%;
  display: inline-block;
}
.views-exposed-form .views-exposed-widget {
  padding: 0;
}
.views-exposed-form .views-exposed-widget input {
  margin-bottom: 0;
}
.views-exposed-form .views-widget {
  margin-bottom: 5px;
}
.views-exposed-widgets label {
  color: #fff;
}
.chosen-container {
  width: 100% !important;
  color: rgba(0, 0, 0, 0.75);
}
.chosen-container-single .chosen-single {
  height: 40px;
  display: flex;
  align-items: center;
}
.chosen-choices {
  border: 1px solid #ccc !important;
  background-image: none !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.search-field {
  height: 35px;
}
.views-widget-filter-field_year_value .form-type-textfield {
  padding: 0;
}
.form-item-field-year-range-max label {
  display: none;
}
/* View content. */
.view-cs-views-search .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, .1);
  height: calc(100vh - 100px);
}
.view-cs-views-search .view-content .nano-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.view-cs-views-search .view-content .nano-content .row {
  margin: 0;
}
.node-teaser {
  position: relative;
}
.film-teaser-wrapper, .page-taxonomy-term .node-teaser {
  position: relative;
  margin-bottom: 50px !important;
}
.field-name-field-poster-image {
  height: 350px;
}
.field-name-field-poster-image img {
  width: 280px;
  max-width: 75%;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}
.node-teaser .field-name-field-imdb {
  position: absolute;
  top: 40px;
  right: 45px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: radial-gradient(at top left, #f78e01 50%, #d07906);
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-weight: 700;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.3);
}
.film-title-link {
  font-family: 'Mukta Mahee';
  font-size: larger;
  word-wrap: break-word;
  max-width: 220px;
}
.field-type-taxonomy-term-reference ul {
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul li {
  display: inline-block;
  margin-right: 10px;
  color: #aaa;
  font-family: 'Open Sans Condensed';
  font-size: large;
}
.views-submit-button {
  clear: both;
}
/* Filters toggle button. */
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.filters-collapsed-button {
  display: flex;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle at top right, #26a283 10%, #187961);
  box-shadow: inset 1px -1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
}
.filters-collapsed-button img {
  width: 25%;
}
/* Random button. */
.get-random-button {
  width: 80px;
  background-color: plum;
  box-shadow: inset 1px -1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  transition: transform linear .3s;
  padding: 10px;
  cursor: pointer;
  position: relative;
  right: 0;
}
.filters-collapsed-button:hover, .get-random-button:hover {
  transform: scale(1.05, 1.05);
  transition-duration: .3s;
}
@media screen and (min-width: 642px) {
  .filters-collapsed-button {
    display: none;
  }
}
@media (max-width: 641px) {
  .block-views-exp-cs-views-search-page {
    display: none;
  }
}
/* Pagination. */
.pagination-centered {
  margin-top: 20px;
}
/**
 * Film page.
 */
#page-title {
  text-align: center;
  margin-bottom: 50px;
}
.node-film.view-mode-full .field {
  line-height: 30px;
  font-size: large;
}
/* Popup */
#modalBackdrop .popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ddd;
  font-size: 50px;
  cursor: pointer;
}
